
/* ============================================================== */
/*   Badged */
/*   ------------------------ */
/*   CSS Styles for the Admin Menu only */
/*   by Matthias Kretschmann | http://mkretschmann.com */
/* ============================================================== */


/* Select all instances of the WP notification bubble using the 
   same selectors WP uses */

#adminmenu .awaiting-mod,
#adminmenu span.update-plugins,
#sidemenu li a span.update-plugins,
#sidemenu a .update-plugins, 
#rightnow .reallynow {
	
	/* need to be rude for these */
	background: #ff0000 !important;
	-webkit-box-shadow: 0px 0px 1px #888 !important;
	-moz-box-shadow: 0px 0px 1px #888 !important;
	box-shadow: 0px 0px 1px #888 !important;
	
	color: #fff; /* just in case, is white per WP default */
	font: 12px/21px 'Helvetica Neue', Helvetica, Verdana, Geneva, sans-serif;
	font-weight: 200;
	text-align: center;
	
	width: 21px;
	height: 21px;
	display: inline-block;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	border-radius: 21px;
	
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;

	margin-top: -2px;
	vertical-align: baseline;
}

#adminmenu li .awaiting-mod span, 
#adminmenu li span.update-plugins span, 
#sidemenu li a span.update-plugins span {
	padding: 0;
}


/* ============================================================== */
/*   IE 8 Only Styles */
/*  ============================================================== */

.ie8 #adminmenu .awaiting-mod,
.ie8 #adminmenu span.update-plugins,
.ie8 #sidemenu li a span.update-plugins,
.ie8 #sidemenu a .update-plugins, 
.ie8 #rightnow .reallynow {
	filter: 
		progid:DXImageTransform.Microsoft.Shadow(color=#888888,direction=180,strength=3) /* box-shadow replacement, bottom */
		progid:DXImageTransform.Microsoft.Shadow(color=#b3b3b3,direction=90,strength=2) /* right */
		progid:DXImageTransform.Microsoft.Shadow(color=#b3b3b3,direction=270,strength=2) /* left */;
}