
/* ============================================================== */
/*   Badged */
/*   ------------------------ */
/*   CSS Styles for the Admin Bar only */
/*   by Matthias Kretschmann | http://mkretschmann.com */
/* ============================================================== */

#wp-admin-bar-updates .ab-label,
#wp-admin-bar-comments .ab-label {
	
	/* need to be rude for these */
	background: #ff0000 !important;
	box-shadow: 0 1px 0 #444 !important;
	
	color: #fff; /* just in case, is white per WP default */
	font: 12px/21px 'Helvetica Neue', Helvetica, Verdana, Geneva, sans-serif;
	font-weight: 200;
	text-align: center;
	
	text-shadow: none;
	
	width: 21px;
	height: 21px;
	display: inline-block;
	padding: 0;
	border-radius: 21px;
	
	background-clip: padding-box;
	
	vertical-align: baseline;
}


/* ============================================================== */
/*   IE 8 Only Styles */
/*  ============================================================== */

.ie8 #wp-admin-bar-updates .ab-label,
.ie8 #wp-admin-bar-comments .ab-label {
	filter: 
		progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=180,strength=3) /* bottom */
		progid:DXImageTransform.Microsoft.Shadow(color=#444444,direction=90,strength=2) /* right */
		progid:DXImageTransform.Microsoft.Shadow(color=#444444,direction=270,strength=2); /* left */
}