/* ============================================================== */
/*   The Options Page */
/* ============================================================== */

#badgedoptions a,
input.button-primary {
	text-decoration: none;
	-webkit-transition: all .2s ease-in-out 0s;
	   -moz-transition: all .2s ease-in-out 0s;
	     -o-transition: all .2s ease-in-out 0s;
	    -ms-transition: all .2s ease-in-out 0s;
	        transition: all .2s ease-in-out 0s;
}

#badgedoptions form h3 {
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin-top: .5em;
	padding: 10px 0;
  font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 400;
}

#badgedoptions footer {
	border-top: 1px solid #eee;
	color: #666;
}

#badgedoptions .icon32 {
	background-image: url(../img/icon-badged-32.png);
	background-repeat: no-repeat;
  background-position: center center;
}

#badgedoptions p.submit {
	background: #fcfcfc;
	padding: .7em .5em;
	border-top: 1px solid #eee;
	margin-top: 4em;
	margin-bottom: 3em;
}

#badgedoptions .radio-row {
  margin-bottom: 0;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (     -o-min-device-pixel-ratio: 3/2),
only screen and (        min-device-pixel-ratio: 1.5) {
	#badgedoptions .icon32 {
		background-image: url(../img/icon-badged-32@2x.png) !important;
		-webkit-background-size: 32px 32px;
		   -moz-background-size: 32px 32px;
		        background-size: 32px 32px;
	}   
}