/* ============================================================== */
/*   Badged */
/*   ------------------------ */
/*   by Matthias Kretschmann | http://mkretschmann.com */
/* ============================================================== */


/* Select all instances of the WP notification bubble using the 
   same selectors WP uses */

#adminmenu .awaiting-mod,
#adminmenu span.update-plugins,
#sidemenu li a span.update-plugins,
#sidemenu a .update-plugins, 
#rightnow .reallynow,
#wp-admin-bar-updates .ab-label,
#wp-admin-bar-comments .ab-label {
	
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
	/* WP defaults overwrites, need to be rude for these */
	background: #ff0000 !important;
  box-shadow: 0 1px 0 rgba(0,0,0,.2) !important;
  text-shadow: none !important;
	
	color: #fff; /* just in case, is white per WP default */
	font: 12px/20px 'Helvetica Neue', Helvetica, Verdana, Geneva, sans-serif;
	font-weight: 200;
	text-align: center;
	
	min-width: 20px;
	height: 20px;
	display: inline-block;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 0 2px;

	margin-top: -2px;
	vertical-align: baseline;
}

#adminmenu li .awaiting-mod span, 
#adminmenu li span.update-plugins span, 
#sidemenu li a span.update-plugins span {
	padding: 0;
}


/* ============================================================== */
/*   IE 8 Only Styles */
/*  ============================================================== */

.ie8 #adminmenu .awaiting-mod,
.ie8 #adminmenu span.update-plugins,
.ie8 #sidemenu li a span.update-plugins,
.ie8 #sidemenu a .update-plugins, 
.ie8 #rightnow .reallynow {
	filter: 
		progid:DXImageTransform.Microsoft.Shadow(color=#888888,direction=180,strength=3) /* box-shadow replacement, bottom */
		progid:DXImageTransform.Microsoft.Shadow(color=#b3b3b3,direction=90,strength=2) /* right */
		progid:DXImageTransform.Microsoft.Shadow(color=#b3b3b3,direction=270,strength=2) /* left */;
}